<section>
  <fieldset>
    <legend>Movie List</legend>
    <button class='add' [routerLink]='["new"]'>Add a new movie</button>
    <table class='table table-striped'>
      <thead>
        <th>Movie Title</th>
        <th>Stars</th>
        <th>Available Actions</th>
      </thead>

      <tbody>
        <tr *ngFor='let movie of movies; let i = index'>
          <td>{{ movie.title }}</td>
          <td><span *ngIf='star[i].length'>{{ star[i] / avg[i].length }}</span>
            <span *ngIf='star[i].length === 0'>0</span> &#9733;</td>
          <td>
            <button [routerLink]='movie._id' class='btn'>Read reviews</button>
            <button [routerLink]='["/movies", movie._id, "review" ]' class='btn'>Write review</button>
            <!-- <button class='btn btn-link' (click)='onDelete(movie._id)'>Delete Movie</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</section>
